name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0
    steps:
      - uses: actions/checkout@v3
      - run: |
          apt-get update
          apt-get install -y make
      - run: make activate-scripts
      - run: make restore
      - run: make build

  test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0
    steps:
      - uses: actions/checkout@v3
      - run: |
          apt-get update
          apt-get install -y make
      - run: make activate-scripts
      - run: make restore
      - run: make build
      - run: make test
#Deploy stage coming soon
