name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Make
        run: |
          apt-get update
          apt-get install -y make

      - name: Activate Scripts
        run: make activate-scripts

      - name: Restore Dependencies
        run: make restore

      - name: Build Project
        run: make build

      - name: Run tests
        run: make test
